<!-- <h1>Static#welcome</h1>
<p>Find me in app/views/static/welcome.html.erb</p> -->
<h1>Statics#welcome</h1>
<p>Find me in app/views/statics/welcome.html.erb</p><br>

<h1>Welcome To: Get The Job Done.</h1><br>
<h2>Are You an <%= link_to 'Employer', new_employer_path %> or an <%= link_to 'Employee', new_employee_path %> ? </h2>
